@import 'config';
@import 'main';
@import 'footer';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}

.container{
    max-width: toRem(550);
    width: 100%;
    margin: 0 auto;
    background: $primary;
    
    
}
body{
    background: $bg;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
main{
    margin-bottom: 2em
}
a{
    all: unset;
}